*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient( rgb(241, 234, 234), rgb(114, 97, 97));
}
.main{
    width: 100%;
    height: 100vh;
    padding-top: 50px;
}
.line-1{
    background-image: url(img/1612356421_10-p-fon-dlya-prezentatsii-kofeinie-zerna-20.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 100%

}
.left-side p{
     width: 30%;
     
}
td{
    border: 1px solid black;
    height: 300px;
}
table{
    width: 800px;
    margin: auto;
    border-collapse: collapse
}
.line-1{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.first{
    color: brown;
    font-size: 15px;
    text-indent: 35px;
}
.second{
    color: chocolate;
    font-size: 15px;
    text-indent: 35px;
}
.third{
    color: crimson;
    font-size: 15px;
    text-indent: 35px;
}
img{
    width: 200px;
    height: 150px;
    position: absolute;
}
.line-2{
    position: relative;
    background-color: antiquewhite;
}
.img-1{
    top: 5%;
    left: 5%;
    opacity: 0.5;
}
.img-2{
    top: 25%;
    left: 25%;
    opacity: 0.7;
}
.img-3{
    top: 45%;
    left: 45%;
    opacity: 0.9;
}
.rotate{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    animation: move-rotate 15s infinite  ease-in-out  ;
}
@keyframes move-rotate {
    from{
        top: 10%;
        left: 10%;
        transform: rotate(0deg);
        background-color: rgb(65, 23, 23);
        opacity: 1;
    }
   50%{
        top: 90%;
        left: 90%;
        transform: rotate(360deg);
        background-color: rgb(199, 155, 155);
        opacity: 0;
    }
   to{
    top: 10%;
    left: 10%;
    transform: rotate(0deg);
    background-color: rgb(65, 23, 23);
    opacity: 1;
    } 
}