@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}
body{
    background-color: antiquewhite;

}
.content, .container{
    width: 1000px;
    margin:20px  auto;
    box-shadow: 0 20px 40px rgb(189, 128, 84);
}

.main{
    background-color: burlywood;
    padding: 40px;
}
header{
    display: flex;
    justify-content: space-between;
}
img{
    width: 500px;
    height: 50px;
    border: 2px dashed brown;
    padding: 2px;
}

.logo{
    background-color: burlywood;
    padding: 10px;
    width: 500px;
    border-radius:  15px 15px 0 0;
    color: brown;
    text-decoration: underline;
    font-size: 26px;
    text-align: center;
}
h2::first-letter {
    color: red;
}
.paragred{
     margin-bottom: 30px ;
}

.paragred h2{
    color: brown;
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 10px;
}
.paragred p{
    text-align: justify;
}

Table{
    border-collapse:collapse ;
    width: 400px;
    margin: auto;
    text-align: center;
}
td,th{
    border: 1px solid brown;
    padding: 10px;
}
caption{
    width: 350px;
    margin: 10px auto;
}
td:nth-child(2){
    background-color: rgba(81, 48, 48, 0.419);
    color: #fff;
}
.next{
    padding: 10px;
    border-radius: 15px;
    background-color: antiquewhite;
    box-shadow: 0 0 20px lightslategray;
    position:absolute;
    right: 20px;
    bottom: 50px;
}
input{
    padding: 10px;
   
    border-radius: 15px;
    background-color: inherit;
    border: 1px dashed brown;
    width: 600px;
    margin: 20px auto;
    display: block;
    outline: none;
    color: white;
    font-style: italic;
}
input::placeholder{
    color: rgb(155, 76, 76);
}
/* second page */
.container-content{
    padding: 40px;
}
.header-container{
    height: 0; 
    width: 200px;
    border-top: 50px solid #ac702a;
    border-right: 25px solid transparent;
    position: relative;
}
.header-container h1{
    position: absolute;
    top: -45px;
    left: 30px;
}
/* .main-container{
    width: 400px;
} */
.main-container p{
    font-size: 30px;
    margin-bottom: 20px;
}
h3::first-letter{
    color: crimson;
    font-size: 30px;
}
.footer-container{
    margin-top: 30px;
}
.lists{
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.lists p{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 5px;
    text-decoration: underline;
}
ol{
    font-size: medium;
    font-weight: 400;
}
